# Database Config
MONGO_URI=mongodb://mongodb:27017/example?replicaSet=rs0
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_DB=example

# Mongo Express
MONGOEXPRESS_USER=admin
MONGOEXPRESS_PASSWORD=admin

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

EMAIL_PASS="nouv heik zbln qkhf"
EMAIL="emonawong22@gmail.com"

JWT_SECRET="supersecret777"

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=someVeryStrongRandomString